<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Crear Nueva Marca</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Prueba VISE</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/marcas}">Marcas</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/productos}">Productos</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container text-center">
			<h1>Nuevo Producto</h1>
			<br />
			<form action="#" th:action="@{/save}" th:object="${product}"
				method="post" style="max-width: 600px; margin: 0 auto;">

				<div class="m-3">
					<div class="row">
					<div class="form-group row" style="margin: 10px;">
						<label class="col-form-label col-sm-4">Nombre Producto:</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" th:field="*{prd_nombre}"
							placeholder="Ingresa nombre producto" required/>
						</div>
					</div>

					<div class="form-group row" style="margin: 10px;">
						<label class="col-form-label col-sm-4">Marca:</label>
						<div class="col-sm-8">
							<select th:field="*{marca}" class="form-control" required>
								<th:block th:each="marca : ${listMarca}">
									<option th:text="${marca.mar_nombre}"
										th:value="${marca.mar_keymar}" />
								</th:block>
							</select>
						</div>
					</div>

					<div class="form-group row" style="margin: 10px;">
						<label class="col-form-label col-sm-4">Hecho en:</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" th:field="*{prd_hechon}"
							placeholder="Ingresa nombre fue hecho"  required />
						</div>
					</div>

					<div class="form-group row" style="margin: 10px;">
						<label class="col-form-label col-sm-4">Precio:</label>
						<div class="col-sm-8">
							<div class="input-group mb-3">
								<span class="input-group-text">$</span> <input
									th:field="*{prd_precio}" type="text" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
						<div class="col-md-6">
							<a th:href="@{/productos}" class="btn btn-outline-warning">Cancelar</a>
						</div>
					</div>
				</div>
				</div>
			</form>
		</div>
</body>
</html>