<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Marcas</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Prueba VISE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/marcas}">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/productos}">Productos</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
	<h1>Marcas</h1>
	<hr>
    <a class="btn btn-primary" href="marcas/new" align="left" >Nueva Marca</a>
    <br/><br/>
    <div class="container">
		<table class="table">
			<thead class="table-light">
				<tr>
					<th>Marca Id</th>
					<th>Nombre</th>
					<th>Fecha alta</th>
					<th>Fecha ultima actualizacion</th>
					<th>Accion</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each="marca : ${listMarcas}">
						<td th:text="${marca.mar_keymar}">Marca ID</td>
						<td th:text="${marca.mar_nombre}">Nombre</td>
						<td th:text="${marca.mar_fecalt}">Fecha alta</td>
						<td th:text="${marca.mar_fecult}">Fecha ultima actualizacion</td>
	                </td>
	                <td>
	                	<a th:href="@{'/editMarca/' + ${marca.mar_keymar}}" class="btn btn-outline-warning">Editar</a>
	                	&nbsp;&nbsp;&nbsp;
	                    <a th:href="@{'/deleteMarca/' + ${marca.mar_keymar}}" class="btn btn-outline-danger">Eliminar</a>
	                </td>
					</tr>
				</tbody>
		</table>
	</div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>