<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Manejador de Productos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div align ="center">
	<h1>Manejador de Productos</h1>
    <a class="btn btn-primary" href="/new" align="left" >Nuevo Producto</a>
    <br/><br/>
    <div class="container">
		<table class="table">
			<thead class="table-light">
				<tr>
					<th>Producto Id</th>
					<th>Nombre</th>
					<th>Marca</th>
					<th>Hecho en</th>
					<th>Precio</th>
					<th>Accion</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each="product : ${listProductos}">
						<td th:text="${product.prd_keyprd}">Producto ID</td>
						<td th:text="${product.prd_nombre}">Nombre</td>
						<td th:text="${product.prd_marcap}">Marca</td>
						<td th:text="${product.prd_hechon}">Hecho en</td>
						<td th:text="${product.prd_precio}">Precio</td>
	                </td>
	                <td>
	                	<a th:href="@{'/edit/' + ${product.prd_keyprd}}" class="btn btn-outline-warning">Editar</a>
	                	&nbsp;&nbsp;&nbsp;
	                    <a th:href="@{'/delete/' + ${product.prd_keyprd}}" class="btn btn-outline-danger">Eliminar</a>
	                </td>
					</tr>
				</tbody>
		</table>
	</div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>